server:
  port: 8081

spring:
  application:
    name: backend
  main:
    web-application-type: servlet

  datasource:
    url: jdbc:mysql://localhost:3306/smart_classroom?createDatabaseIfNotExist=true
    username: root
    password: Dhar@2004

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
